[2019-06-01 05:38] RaduCStefanescu opened #1 "[Documents] Load new document to platform"
As a user of the Legal Consultation platform I want to be able to load a document containing the text of a law proposition. The document can be in doc or docx format.

The loading of the document will
- save the document metadata
- trigger the document breakdown logic, that will split the document in articles and chapters
- save the document breakdown structure
- return the new UUID of the documen

[2019-06-01 05:43] RaduCStefanescu opened #2 "[Documents] Implement document breakdown logic"
As a user of the Legal Consultation platform, after loading a new document to the platform, I want to be able to see the breakdown of the document. The document needs to be split into logical units of data, based on the structure of the proposition.

![Doc breakdown edit](https://user-images.githubusercontent.com/15039873/58744287-92861e00-83f5-11e9-99c7-438d1b4f94e3.png)

[2019-06-01 05:46] RaduCStefanescu opened #3 "Assign entire document to one ore more users in the platform"
As an admin of the Legal Consultation platform I want to be able to assign a document to a user in the platform.
We need to create a new entity that will contain the relationship between the document and the user. A user that has been added to a document will be able to post comments on that document. Every user will be able to view the documents in the platform.

![Adauga membri](https://user-ima

[2019-06-01 05:47] RaduCStefanescu opened #4 "Edit the contents of the breakdown document"
As an admin of the Legal Consultation platform, I want to be able to edit the contents of a breakdown document.

After loading the document in the platform, the automatic process of breaking down the document into units takes place. The process might not work as intended, so the user must be able to edit the contents of the document.
CRUD operations need to be implemented for a `document node`

[2019-06-01 05:54] RaduCStefanescu opened #5 "[Documents] Define entity datamodel for document metadata"
An entity datamodel needs to be defined to hold the metadata information for an uploaded document.

Please have a look at the wireframe for more informatio:
![Incarca document](https://user-images.githubusercontent.com/15039873/58744397-ffe67e80-83f6-11e9-93f6-6b004b292bc3.png)

[2019-06-01 05:56] RaduCStefanescu opened #6 "[Documents] Define entity datamodel for document breakdown"
An entity datamodel needs to be defined for persisting the information about the units composing a document breakdown.

Please check out the wireframes for additional information:
![Doc breakdown edit](https://user-images.githubusercontent.com/15039873/58744410-476d0a80-83f7-11e9-8fe3-4282307df58b.png)

[2019-06-01 05:58] RaduCStefanescu opened #7 "[Documents] Implement document controller"
Implement document controller for CRUD operations on document metadata.
Enhance document controller for CRUD operations on document breakdown units.

[2019-06-01 06:00] RaduCStefanescu opened #8 "[Users] View all users in the platform"
As an admin user of the Legal Consultation platform I want to be able to see all the users defined in the platform.
A new datamodel entity should be implemented to hold user metadata.
The new datamodel entity should be linked to an existing ApplicationUser account through username or email.
A User Controller needs to be implemented for retrieving all the new datamodel entities from the platform. T

[2019-06-01 06:04] RaduCStefanescu opened #9 "[Users] Add single user to platform"
As an admin user of the legal consultation platform I want to be able to add a single user to the platform.

The user controller needs to be enhanced to implement Create operation on user resource.
The DTO object should have the following attributes:
- Nume
- Prenume
- Email
- Telefon
- Judet
- Organizatie

[2019-06-01 06:09] RaduCStefanescu opened #10 "[Users] Import a list of users from CSV file"
As an admin user I want to be able to import a list of users in CSV format.
The CSV will contain the following information, on each row:
- Nume
- Prenume
- Email
- Telefon
- Judet
- Organizatie

Before importing, the admin user uploading the file should confirm that the information parsed from CSV file is correct.
The User Controller should be enhanced with a new endpoint that parses the CSV and r

[2019-06-01 06:13] RaduCStefanescu opened #11 "[Users] Import a list of users by copy/paste from Excel file"
As an admin user of the Legal Consultation platform I want to be able to import a list of users by copy pasting from an excel file.

![Adauga membri (2)](https://user-images.githubusercontent.com/15039873/58744598-c7946f80-83f9-11e9-86a1-7a5d4a2925ad.png)

[2019-06-01 06:15] RaduCStefanescu opened #12 "[Users] Implement login to platform"
As a user of the Legal Consultation platform I want to be able to login using my credentials.

[2019-06-01 06:18] RaduCStefanescu opened #13 "[Users] Add comments to allocated units"
As a user of the platform, I will have document breakdown units allocated to me. I want to be able to add my comments to these units.

We need to create a new entity, Comment, that would hold the information about:
- the article/chapter/document for which the comment is added
- the user adding the comment
- the text of the comment
- date/time information about comments added on the document

[2019-06-01 06:24] RaduCStefanescu opened #14 "[Documents] View all comments for a particular document breakdown unit"
As an admin of the platform, I want to be able to see all the comments added to a certain document unit.

![RU - lege - integral - cu comentarii - open](https://user-images.githubusercontent.com/15039873/58744735-3e7e3800-83fb-11e9-8b04-155238a6daa8.png)

[2019-06-01 06:41] RaduCStefanescu opened #15 "[Documents] Consolidate the comments added for a document breakdown unit"
As an admin of the Legal Consultation platform I want to be able to consolidate the comments received for a legal document.
Consolidating the comments means approving or rejecting the comments.
For approved comments, the comments are reflected in the changes for the text of the document breakdown unit.

![RU - lege - integral - cu comentarii - open](https://user-images.githubusercontent.com/150398

[2019-06-01 17:13] RaduCStefanescu opened #16 "[Documents] Persist document content in all lifecycle states"
We need to persist the various states of the document.
- Forma initiala - the initial state of the document
- Documentul in consultare publica, cu comentarii - the document including the public consultation comments
- Documentul in forma consolidata, trimis catre MDRAP - the document as it was sent to the Ministry
- Documentul consolidat, publicat in Monitorul Oficial - the document as it was publ

[2019-06-01 17:25] RaduCStefanescu opened #17 "[Documents] Track changes in consolidated document based on comments"
As an admin user I want to be able to modify the content of the original document based on the comments added by the users.

When approving a comment added to a document breakdown unit, the result needs to be a change in the original document. The change on the original document must be linked to the approved comment.

![RU - lege - integral - cu comentarii - open (1)](https://user-images.githubus

[2019-06-29 07:30] Andu033 commented on #5
Can I claim this one?

[2019-06-29 08:26] Andu033 commented on #6
I can take it too?

[2019-06-29 08:58] RaduCStefanescu commented on #7
In progress @ Mihai Tudor Popescu

[2019-06-29 08:58] RaduCStefanescu commented on #12
In progress @ Amalia Goia

[2019-06-29 09:03] RaduCStefanescu opened #19 "[Configuration] Add MySQL dependency and configuration"
MySQL dependency added in pom.xml
Configuration needs to be added to application.yml

[2019-06-29 09:08] mihairinzis commented on #12
I'll take it :)

[2019-06-29 09:08] mihairinzis commented on #19
I'll take it. :)

[2019-06-29 09:14] RaduCStefanescu commented on #7
URI path for accessing the "document" controller:
/api/v1/document
Operations ->
POST /api/v1/document-> create new document
PUT /api/v1/document/{id} -> modify document based on id
GET /api/v1/document -> return list view of all documents
GET /api/v1/document/{id} -> return view of a single document based on id
DELETE /api/v1/document/{id} -> delete document based on id
PATCH /api/v1/document/{id

[2019-06-29 10:56] #19 closed

[2019-07-09 10:34] RaduCStefanescu commented on #5
Fixed in #18

[2019-07-09 10:34] #5 closed

[2019-07-09 10:46] RaduCStefanescu commented on #6
Closing this one, as it is implemented in #20

[2019-07-09 10:46] #6 closed

[2019-07-09 10:48] RaduCStefanescu commented on #12
We can close this one, it was implemented in #24

[2019-07-09 10:48] #12 closed

[2019-07-11 15:11] RaduCStefanescu opened #27 "[Users] Implement user roles"
Users created in the application should have different roles.
The roles should be:
- ADMIN (can upload document, create new users, assign part of the documents, etc)
- CONTRIBUTOR (can only comment on documents)

The information should be part of the JWT token generated.

[2019-07-11 15:13] RaduCStefanescu opened #28 "[Users] Send confirmation email when user created in platform"
As an admin, when I create a new user in the platform, I want to send a confirmation email to that user.
The user receiving the email should also be redirected to the signup page, to fill in it's credentials and create his account in the platform.
In the sign up process, the user should be compelled to use the email address on which he received the email. This can be forced by using the unique id

[2019-07-11 22:45] Andu033 commented on #9
I want to work on that.

[2019-07-12 04:48] RaduCStefanescu commented on #9
In progress @Andu033

[2019-07-15 06:38] mihairinzis commented on #10
@mihairinzis

[2019-07-15 12:52] mihairinzis commented on #8
@mihairinzis

[2019-07-15 22:43] Andu033 commented on #9
@RaduCStefanescu The issue says to enhance user controller but i don't see any user cotroller. It exists?

[2019-07-16 04:13] RaduCStefanescu commented on #10
In progress @mihairinzis

[2019-07-16 04:14] RaduCStefanescu commented on #8
In progress @mihairinzis

[2019-07-16 04:33] RaduCStefanescu commented on #9
@Andu033 In the great scheme of things, this issue https://github.com/code4romania/legal-consultation-api/issues/8, which is WIP at @mihairinzis should be implemented before the one you are working on. That issue has a task for creating a User Controller, and this issue has a task of enhancing that user controller for CRUD operations.
So @Andu033 can you please wait for a commit with changes on th

[2019-07-16 15:43] #8 closed

[2019-07-17 10:14] RaduCStefanescu commented on #10
This issue has been implemented in #30

[2019-07-17 10:14] #10 closed

[2019-07-17 10:16] RaduCStefanescu commented on #9
@Andu033 this issue has been implemented by @mihairinzis under #31
Could you please choose another issue from the outstanding ones? Thanks!

[2019-07-17 10:17] RaduCStefanescu commented on #9
Issue can be closed, it has been implemented under #31

[2019-07-17 10:17] #9 closed

[2019-07-17 10:18] #7 closed

[2019-07-17 10:18] RaduCStefanescu commented on #7
Closing this issue and opening a new for implementing the document service interface.

[2019-07-17 10:22] RaduCStefanescu opened #33 "[Documents] Implement the DocumentService interface"
The following operations need to be implemented for the DocumentService interface:

- fetchAll() - return all documents in the platform
- fetchOne(UUID id) - fetch one document based on ID
- create(DocumentView) - create one document based on the DTO
- update(UUID id, DocumentView view) - update the document based on id
- deleteById(UUID id) - delete a document based on ID

Based on the signatures

[2019-07-17 10:28] RaduCStefanescu opened #34 "[Documents] Implement the DocumentStorageService interface"
The DocumentStorageService needs to be implemented with the following operations:

- resolveName(MultipartFile file) - returns the filename
- storeFile(MultipartFile file) - saves the file on storage
- loadFileAsResource(Path documentURI) - load document from storage

There should be 2 implementations of the service:
- for development purposes, a LocalStorage implementation
- for production, a AWS

[2019-07-17 10:38] RaduCStefanescu opened #35 "[Generic] Reorganize solution folders"
The solution folders need to be reorganised, under the following structure:

-> config ------ anything that is project configuration goes under this folder and it's subfolders
----> security - anything that is security config goes here
-> common ---- all "helper" classes and utility code goes in here and it's subfolders
----> controllers -- utility classes for controllers
----> exceptions -- all e

[2019-07-17 10:44] RaduCStefanescu opened #36 "[Generic] Add Swagger support"
Add support for Swagger API documentation.

[2019-07-17 11:20] mihairinzis commented on #28
in progress @mihairinzis

[2019-07-17 15:51] Andu033 commented on #36
I want to work on this.

[2019-07-18 07:09] RaduCStefanescu commented on #36
@Andu033 the issue is yours, but please wait for the fix on https://github.com/code4romania/legal-consultation-api/issues/35
It will modify the folder structure of the project.
Thank you!

[2019-07-18 07:12] RaduCStefanescu commented on #35
In progress @RaduCStefanescu

[2019-07-18 10:06] #35 closed

[2019-07-18 10:08] RaduCStefanescu commented on #36
@Andu033 changes merged, you can start implementing the issue, but please update your develop branch first.
Thanks!

[2019-07-18 12:51] RaduCStefanescu opened #38 "[Documents] Consolidate document entity with Metadata and Breakdown entities"
The information about a document is contained in 2 set of entities:
- the document metadata with description of the document
- the document breakdown with information about chapters and articles
We need a new entity to consolidate the information contained in these 2 entities.

[2019-07-18 13:39] RaduCStefanescu commented on #38
In progress @RaduCStefanescu

[2019-07-18 14:34] RaduCStefanescu commented on #33
In progress @RaduCStefanescu

[2019-07-19 07:44] #38 closed

[2019-07-19 12:49] mihairinzis commented on #27
in progress by @georgebejan

[2019-07-22 10:16] RaduCStefanescu commented on #27
Fixed in #41 can be closed

[2019-07-22 10:16] #27 closed

[2019-07-22 10:17] RaduCStefanescu commented on #28
Fixed in #42 can be closed

[2019-07-22 10:17] #28 closed

[2019-07-24 15:13] RaduCStefanescu opened #46 "[Document processing] Implement loading of pdf files"
As part of the loading of files in the platform, a service to load and read pdf file contents needs to be developer.

The service should be using a Java PDF library like https://pdfbox.apache.org/

The service should be able to receive the path to a PDF file and return the contents of the file.

[2019-07-24 15:22] RaduCStefanescu opened #47 "[Document processing] Implement parsing of generic pdf file"
As a legal consultation user, I want to be able to load a pdf file in a predefined format and break the content of the file in chapters and articles.

The pdf file will have a predefined format, an example file can be provided by request.
A strategy needs to be implemented to break the content of the file in the desired format: chapters and articles.

[2019-07-24 15:25] RaduCStefanescu opened #48 "[Document processing] Implement the processing of pdf file without chapters"
As an user of legal consultation web app I want to be able to view the contents of a pdf file in the platform, broken into units like chapters and articles.
Some of the pdf file do not contain chapters, and only contain articles.
A strategy needs to be implemented in order to break the contents of a pdf file only into articles, if the pdf does not contain chapters.
An example document can be provi

[2019-07-25 08:03] georgebejan commented on #46
in progress @georgebejan

[2019-07-26 10:23] RaduCStefanescu opened #51 "[Infrastructure] Run application in Docker"
As part of the easy deployment of the project, we need to have a Docker image containing the application and all the dependencies:
- MySQL
- MailHog

[2019-07-26 10:24] mihairinzis commented on #51
in progress @mihairinzis

[2019-07-26 10:27] RaduCStefanescu opened #52 "[Infrastructure] Automatic deployment on AWS"
As part of easy deployment for the application, we need to implement automatic deployment of the docker image containing the project and it's dependencies on a AWS machine. As an automatic deployment provider we will be using Travis-CI.

[2019-07-26 10:38] RaduCStefanescu commented on #51
After discussing with @mihairinzis this issue will cover also running the tests inside the Docker container.

[2019-07-26 10:40] RaduCStefanescu commented on #33
Implemented in https://github.com/code4romania/legal-consultation-api/pull/45
This issue can be closed.

[2019-07-26 10:40] #33 closed

[2019-07-26 11:33] RaduCStefanescu commented on #34
Fixed by https://github.com/code4romania/legal-consultation-api/pull/50
This issue can be closed

[2019-07-26 11:33] #34 closed

[2019-07-27 08:16] RaduCStefanescu commented on #13
In progress @MihaiTudorP

[2019-07-27 14:08] RaduCStefanescu commented on #4
In progress @RaduCStefanescu

[2019-07-29 09:26] RaduCStefanescu commented on #36
This issue was resolved in #56
Closing it

[2019-07-29 09:26] #36 closed

[2019-08-16 12:09] mihairinzis commented on #52
in progress @mihairinzis

[2019-08-20 08:41] RaduCStefanescu commented on #51
Already covered in https://github.com/code4romania/legal-consultation-api/pull/53
The issue can be closed.

[2019-08-20 08:41] #51 closed

[2019-09-23 17:32] georgebejan commented on #47
in progress @georgebejan

[2019-09-28 07:35] RaduCStefanescu commented on #14
in progess @MihaiTudorP

[2019-10-08 15:34] RaduCStefanescu commented on #14
Fixed in #54

[2019-10-08 15:35] RaduCStefanescu commented on #13
Issue handled in #54

[2019-10-08 15:35] #13 closed

[2019-10-08 15:36] RaduCStefanescu commented on #46
Issue handled in #63

[2019-10-08 15:36] #46 closed

[2019-10-10 11:41] RaduCStefanescu opened #64 "[Documents] Implement new tree data structure for document structure"
After discussing the parsing logic for documents, we came to the conclusion that the Document, Chapter, Article data model is too rigid to achieve the task we want to accomplish.

We came up with a new design:
- the document breakdown needs to be a tree structure
- the nodes of the tree must be the same data structure
- we are going to define a new data structure - DocumentSection/DocumentNode
- t

[2019-10-10 11:45] RaduCStefanescu opened #65 "[Documents] Modify comment feature to take into account the new document format"
The Comment feature needs to be adapted to the changes to the document structure.

The article, chapter and document controllers need to be changed into a single controller for DocumentSection / DocumentNode comments.

The comment data model needs to be updated.

Linked to #64

[2019-10-10 11:55] RaduCStefanescu opened #66 "[Documents] Implement voting feature for document comments"
As a user of the Expert Consultation platform I want to be able to cast votes for comments that are added for a node.

There are a few rules that need to be taken into consideration:
- we implement up-votes and down-votes
- each user has at most 1 up-vote or 1 down-vote per comment
- the voting is anonymous, the platform will not register what votes a user has casted
- an admin can open and close

[2019-10-11 12:39] Andu033 commented on #3
I can work on that.

[2019-10-12 10:47] RaduCStefanescu opened #67 "Update Dockerfile for development environment"
The Dockerfile-dev should build the solution.
The profile should be `dev`.

[2019-10-25 08:49] mihairinzis commented on #67
in progress by @mihairinzis

[2019-10-26 08:40] correndonomundo commented on #66
I'd like to work on this task.

[2019-10-26 09:57] BiancaIrimescu3Pillar commented on #66
I'd like also to work on this task:)

[2019-10-26 10:12] mihairinzis opened #71 "Add pagination/sorting to documents"
Implement pagination and sorting for the listing of documents in DocumentController. Please create/use dtos.

[2019-10-26 11:23] ciprianbolocan commented on #11
O sa ma ocup eu de el

[2019-10-26 11:33] MihaiTudorP commented on #16
in progress @MihaiTudorP

[2019-10-26 12:07] mihairinzis opened #72 "Add the possibility to delete files"
Add a delete file feature to the storage services.

[2019-10-26 12:10] mihaiba commented on #72
I'm taking this

[2019-10-26 13:11] BiancaIrimescu3Pillar commented on #71
I will work on this task.

[2019-10-26 14:07] correndonomundo commented on #66
droppin' out for now

[2019-10-26 14:07] correndonomundo commented on #66
droppin' out for now

[2019-11-15 11:50] mihairinzis opened #76 "Add user save validation"

[2019-11-15 11:52] ioangrozea commented on #76
In progress by me

[2019-11-19 16:03] RaduCStefanescu commented on #4
Due to time constraints, I am unable to implement this issue
Moving it back to `To Do`

[2019-11-19 16:06] RaduCStefanescu commented on #3
In progress @Andu033

[2019-11-19 16:07] RaduCStefanescu commented on #11
In progress @ciprianbolocan

[2019-11-23 09:23] pavelnc commented on #66
I ll take this task

[2019-11-23 09:43] Daniel194 commented on #4
I'd like to work on this task :)

[2019-11-23 10:53] MihaiTudorP commented on #15
In progress @MihaiTudorP

[2019-11-23 14:33] RaduCStefanescu commented on #48
After implementing the new document structure, this issue does not have sense anymore.

[2019-11-23 14:33] #48 closed

[2019-11-23 14:37] RaduCStefanescu commented on #76
Fixed by #77

[2019-11-23 14:37] #76 closed

[2019-11-23 14:38] RaduCStefanescu commented on #72
issue fixed by #73

[2019-11-23 14:38] #72 closed

[2019-12-09 16:46] RaduCStefanescu opened #83 "[Documents] Document structure incomplete"
After saving a new document, if a user wants to see the contents of the document, it is not possible at the moment.

The `GET api/document/{id}/consolidated` returns only the top level node, and not the whole structure.

We need the entire structure of the document to be able to correctly display it in frontend.

[2019-12-09 16:48] RaduCStefanescu opened #84 "[DevOps] Switch infrastructure definition to TerraForm"
Currently, the infrastructure definition is created using Ansible.

As part of the DevOps initiative in Code for Romania, we want to switch to using TerraForm for this task.

[2019-12-10 12:08] RaduCStefanescu commented on #64
Issue done in #69

[2019-12-10 12:08] #64 closed

[2019-12-10 12:16] RaduCStefanescu commented on #65
Issue handled in #69

[2019-12-10 12:16] #65 closed

[2019-12-10 12:37] RaduCStefanescu opened #86 "[Documents] Simplify Comment DTO"
We need to simplify the comment DTO, as it contains redundant information.
Currently the format of the DTO is:
[code]
We just need to supply the text, because the id is part of the URL and edit time should be set by the server.

[2019-12-10 12:42] RaduCStefanescu commented on #84
Issue fixed by #60

[2019-12-10 12:42] RaduCStefanescu commented on #52
This issue is fixed in #60

[2019-12-10 12:42] #52 closed

[2019-12-10 15:51] RaduCStefanescu commented on #71
Fixed by #80

[2019-12-10 15:51] #71 closed

[2019-12-10 15:56] RaduCStefanescu commented on #67
Fixed by #70

[2019-12-10 15:56] #67 closed

[2019-12-10 15:59] RaduCStefanescu commented on #66
Hi @pavelnc !
How is it working with this issue? Anything we can help with?

[2019-12-10 20:14] pavelnc commented on #66
Am nevoie de o infromatie legata perioada in care se poate face votarea.
Votarea comenturilor se poate face cand perioada este deschisa din punct de vedere temporar sau este doar un boolean pe care admin ul il seteaza ca fiind true/false.    Pe marți, 10 decembrie 2019, 17:59:58 EET, Radu Stefanescu <notifications@github.com> a scris:

Hi @pavelnc !
How is it working with this issue? Anything we c

[2019-12-11 08:38] RaduCStefanescu commented on #66
Hi @pavelnc !
We don't want to have a pre-configured period of time where we have open voting. The way I see it, let's keep a simple boolean configuration that maintains if the voting is open/closed.

I will open a new issue for defining the configuration. It should not be part of this issue.

[2019-12-11 08:43] RaduCStefanescu opened #87 "[Documents] Create configuration for documents"
Create a documents configuration that maintains information about:
- if the document is open for commenting
- if the document is open for voting comments

The configuration should be persisted at database level.

This issue is linked to #66

[2019-12-13 10:45] RaduCStefanescu opened #89 "[Tests] Random error on MailServiceTest"
We have random fails on the test:
`MailServiceTest.sendRegisterMail()`

The error happens on this line:
`assertThat(modelCaptor.getValue().get("username")).isEqualTo(user.getFirstName() + ' ' + user.getLastName());`

[2019-12-13 12:03] RaduCStefanescu commented on #3
Hi @Andu033
How is it going with the development, need any help?

[2019-12-13 13:25] Andu033 commented on #3
No. It's ok. I had little time lately but I will finish that tomorrow at hackday. Sorry for being late.

[2019-12-14 09:38] AndraVasilache commented on #86
I'd like to work on this task.

[2019-12-14 09:39] codrin23 commented on #87
Working on it

[2019-12-14 13:15] lucianoprea commented on #4
Hi, I want to give a try to this issue.
In progress @lucianoprea

[2019-12-14 14:50] codrin23 commented on #83
Work in progress

[2019-12-14 16:10] vijayakumarbathini commented on #89
will be working on this issue

[2019-12-14 17:16] vijayakumarbathini commented on #89
Seeing Null Pointer Exception when above test case is running but doesn't see test cases are failing.

I have ran mvn clean install multiple times, but saw all 66 test cases are passing

[2019-12-15 13:06] mihairinzis commented on #89
unfortunately it fails relatively often on the ci build. maybe we should simply hard-code the first name and last name of the test user in order to avoid this annoyance in the future..

[2019-12-17 16:15] RaduCStefanescu commented on #4
@lucianoprea thank you for picking up this issue
Will you be making a PR?
If we can help with any question, please let me know

[2019-12-18 07:21] lucianoprea commented on #4
@RaduCStefanescu yes, I want to make a PR. I'll get in touch with you or George if I need more details/clarification. Thx

[2019-12-18 13:04] RaduCStefanescu opened #94 "Create seed database script with test users and documents"
For testing purposes we need to have a seed script, that adds information to the database in order to run and test the solution.

The seed script needs to save information about users and documents.

[2019-12-18 13:14] RaduCStefanescu opened #95 "Reply to comments feature"
Currently, comments can be added to any element of the document node structure.

One of the features of the platform is that we need to be able to support replies to comments.
A reply needs to be defined as a new datamodel, and it needs to contain at least the following information:
- an id
- the id of the comment that it replies to
- the id of the user that posted the reply
- the text message of

[2019-12-25 13:30] themeshter commented on #66
hey @pavelnc @RaduCStefanescu - wasn't sure what the state was for this issue... Rather than asking I just implemented a naive version of the service (repository, service, mock test following the already existing architectural conventions) and pushed into https://github.com/rnd-forks/expert-consultation-api.

Planning to add the controller layer these days. Let me know if this is redundant (or eve

[2019-12-30 11:28] RaduCStefanescu commented on #66
Hey @themeshter ! Thank you very much for your contribution, highly welcomed and appreciated.
I will have a look at the implementation in the coming days and get back to you with feedback.
To make it easier for the reviewers, would you be so kind to open a Pull Request and mark it as Work In Progress?
Thank you!

[2019-12-31 04:42] themeshter commented on #66
@RaduCStefanescu , just created the pull request. Hopefully I did it the right way :thinking: ...

[2020-01-07 16:14] RaduCStefanescu commented on #2
Issue tested on API.

[2020-01-07 16:14] #2 closed

[2020-01-07 16:25] RaduCStefanescu opened #98 "Unable to load document path that contains spaces"
When uploading a new document in the platform, of the document URL contains spaces, the document upload fails with the following message:

{
    "i18nErrors": null,
    "i18nFieldErrors": null,
    **"additionalInfo": "Index 0 out of bounds for length 0"**
}

The initial DTO for creating the new document is the following:

{
  "dateOfDevelopment": "2020-01-01T16:02:03.790Z",
  "dateOfReceipt": "20

[2020-01-07 16:27] RaduCStefanescu commented on #47
Issue has been tested on latest build.

[2020-01-07 16:27] #47 closed

[2020-01-07 16:28] RaduCStefanescu commented on #1
Issue tested on latest build.

[2020-01-07 16:28] #1 closed

[2020-01-07 16:32] RaduCStefanescu commented on #83
Tested on latest build.

[2020-01-07 16:32] #83 closed

[2020-01-07 16:43] RaduCStefanescu commented on #86
Tested on latest build.

[2020-01-07 16:43] #86 closed

[2020-01-23 21:08] Daniel194 commented on #95
I'm working on this :)

[2020-01-27 16:48] RaduCStefanescu commented on #95
In progress @Daniel194

[2020-02-01 09:05] damianr13 commented on #17
I will take this

[2020-02-29 09:27] csppopa commented on #98
Iau eu asta.

[2020-02-29 10:43] apetcu opened #104 "Unable to get document by id returned from /documents"
/api/documents returns `metadataId` instead of `id` which causes the endpoint /documents/{id} to throw "Resource not found"

[2020-02-29 10:48] apetcu opened #105 "Set meta charset to utf8 for fields"
Meta charset is currently set to `latin1_swedish_ci`. It must be changed to `utf8_general` or something else in order to fit Romanian characters

[2020-02-29 15:52] RaduCStefanescu commented on #104
I checked the current `develop` branch and the ID returned by the POST `/api/documents` endpoint can be used to return the following information:
GET `/api/documents/{id}` - document metadata
GET `/api/documents/{id}/consolidated` - document structure

[2020-03-01 12:08] kixx commented on #105
That is the default charset/collation for MySQL 5.x. I'll change the docker compose file to start the mysql container with the proper collation

[2020-03-01 19:10] kixx commented on #105
PR request https://github.com/code4romania/expert-consultation-api/pull/107

I guess the same fix should be applied to the corresponding
 compose file in the client project https://github.com/code4romania/expert-consultation-client/blob/develop/etc/docker/docker-compose-backend.yml

I'll see to it tomorrow.

[2020-03-03 18:33] RaduCStefanescu commented on #104
I will also check the solution running on the Docker container to see of this issue happens on that version

[2020-03-10 16:27] #89 closed

[2020-03-10 16:30] #105 closed

[2020-03-21 21:07] paulicit commented on #104
I just got the project and I saw this was not working for me on develop branch. I created a PR with a fix https://github.com/code4romania/expert-consultation-api/pull/108
Feel free to close it if it's not needed or if I misunderstood the issue.

[2020-03-21 21:38] paulicit commented on #98
@RaduCStefanescu @csppopa I've had a quick look over this and it looks like the problem is not with the file name. I was able to reproduce the error with a filename like this "formular.pdf" .
For my scenario, the error comes from the fact the the PDFReader is not able to read any characters from inside the file causing "Index out of bounds", so I think the problem is with the content of the file,

[2020-03-21 22:14] paulicit commented on #94
I can pick this.
How many users and documents should be created ?
Is an SQL script that we can run manually in a DB Client what you had in mind ?

[2020-03-21 22:17] trestianp opened #109 "Diacritics are not supported in DB"
When data from a PDF is saved into document_nodes table, diacritics are not saved.

![document_nodes_table](https://user-images.githubusercontent.com/3278514/77237615-629d4680-6bd2-11ea-88a0-08a6e418e7df.PNG)

[2020-03-21 22:21] paulicit commented on #109
This could be only on my local machine.
Depends what Collation is set in production.
The fix for this is to set utf8 collation in mysql by altering table and also add `&characterEncoding=UTF-8` to application.yml file on url connection

[2020-03-23 13:25] georgebejan commented on #98
@paulicit That value was based on the sample PDF files which we received. All of them were on the rectangle specified by those values

[2020-04-21 17:23] RaduCStefanescu commented on #95
Fixed in #101

[2020-04-21 17:23] #95 closed

[2020-04-25 06:19] RaduCStefanescu commented on #109
Hi @trestianp
Can you please make a pull request to update the `application.yml` file?

[2020-04-25 06:42] RaduCStefanescu commented on #94
@trestianp are you still up for this issue?
My idea was that it would be awesome to be able to create an admin user and a regular application user, and also be able to create a document structure with comments so that we can test the frontend.
I think a good solution would be to use https://flywaydb.org/

[2020-04-25 06:43] RaduCStefanescu commented on #87
This one has been handled in #90 and can be closed

[2020-04-25 06:43] #87 closed

[2020-04-25 06:45] RaduCStefanescu commented on #17
Based on what we decided in the UX and workflow, this issue is not needed anymore.

[2020-04-25 06:45] #17 closed

[2020-04-25 08:42] GhenadieCebanu commented on #4
looking into

[2020-04-25 09:00] trestianp commented on #94
@RaduCStefanescu sure, you can assign this to me.
I will start by adding one or two records for each table and I can update with more data based on comments on the PR.

[2020-04-25 09:02] trestianp commented on #109
Yes, I'll create a PR for this.

[2020-04-25 12:14] RaduCStefanescu commented on #3
Closed in #113

[2020-04-25 12:14] #3 closed

[2020-04-26 10:09] lzrmihnea commented on #66
Based on @themeshter 's work, I've created an updated PR: https://github.com/code4romania/expert-consultation-api/pull/115/files

[2020-05-07 09:21] #109 closed

[2020-05-08 14:39] RaduCStefanescu commented on #84
I will leave this will really low priority for now.

[2020-05-08 14:42] RaduCStefanescu opened #119 "Assigned users rights"
When an admin of the platform assigns users to the document, the newly added users need to have certain rights on the document:
- they are able to set the consultation period for the document
- they are able to approve/reject comments for the document
- they are able to generate the final form of the document

[2020-05-08 14:43] RaduCStefanescu opened #120 "Search and filter users"
We need to have the ability to search users by name and to filter users based on specialisation.

[2020-05-08 14:46] RaduCStefanescu opened #121 "Use AWS SES to send emails"
Currently we use SMTP to send emails, but for more reliability we need to switch the email sending to use AWS SES.

[2020-05-08 14:47] RaduCStefanescu opened #122 "Send emails to users after assignment"
When we assign users to the documents, we need to notify them via email.

[2020-05-08 14:48] RaduCStefanescu opened #123 "Send email to users to start the consultation process"
When a document administrator sets a document in open consultation, a list of users can be invited to collaborate on that document.

We need a feature where an email is sent to a list of users regarding a document that is open for consultation

[2020-05-08 14:55] RaduCStefanescu opened #124 "Document after comments consolidation"
When an admin has closed the consultation period for the document, the admin needs to be able to create a new document that will be the revised version. The admin user will create a new node structure that will be the new form of the document.

[2020-05-08 14:56] RaduCStefanescu opened #125 "Generate PDF from document structure"
Starting from the document node structure, we need to be able to generate a PDF document from that structure.

[2020-05-08 14:59] RaduCStefanescu opened #126 "Parsing document to extract dictionary terms"
As part of uploading a document to the platform, we need to extract terms defined in that document and add them to the platform dictionary.

[2020-05-08 15:02] RaduCStefanescu opened #127 "Upload pdf document to the platform"
As part of the platform, we need to be able to upload all versions of the document in the platform, for tracking. The documents uploaded will be saved to S3 bucket. The documents uploaded will not be parsed, just tracked.

[2020-05-12 16:04] trestianp commented on #121
I will start working on this.

[2020-05-12 16:04] RaduCStefanescu commented on #121
All yours @trestianp

[2020-05-13 21:30] trestianp commented on #121
PR opened for this: https://github.com/code4romania/expert-consultation-api/pull/130

For email sender, I added a mock email address that will need to be updated with a real email.

Besides the code implementation, some configuration is required in AWS:
1. Verify the sender (and receiver when in Sandbox mode) email address:
https://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-email-address

[2020-05-13 21:36] trestianp commented on #122
I can start working on this but it depends on #121 . @RaduCStefanescu  Should I include this change in that Pull Request or wait for that one to be merged then create a separate PR for this task ?

[2020-05-23 10:33] cosmingodeanu commented on #120
I'll take this one.

[2020-05-23 10:54] cosmingodeanu commented on #120
How is the specialisation specified for users? I see the model has a `district` field, is that it?

[2020-05-23 11:14] aggo opened #137 "numberOfComments is null for article document node"
We need to display in the frontend the number of comments of an article node. Right now, this is not returned properly from the backend.
![image](https://user-images.githubusercontent.com/7957519/82729349-757de580-9cff-11ea-887a-7b8e49c95520.png)

[2020-05-23 11:14] georgebejan commented on #120
@cosmingodeanu
We just need an endpoint for filtering users. For now it will take a `searchTerm` and will return users which match that search term (any of the user fields match the term)

[2020-05-23 11:23] aggo opened #138 "Allow for more than 255 characters in the text of a comment"
The text of a comment allows right now the default of 255 characters. Since most likely the comments will be longer than that, migrate this column to allow for more.

[2020-05-23 12:07] cezarmathe commented on #127
I assume uploading a document starts from `com.code4ro.legalconsultation.controller.DocumentController#createDocument()`, right?

[2020-05-23 12:11] RaduCStefanescu commented on #127
Hi @cezarmathe
Not really, this is a new feature, it is intended to handle the case where we need to just upload a PDF document, dump it to S3 bucket and add the details to the Document model - we need to know that the added PDF is linked to a particular document from the platform.

[2020-05-23 13:33] cezarmathe commented on #127
i'll work on this

[2020-05-23 14:38] cosmingodeanu commented on #120
Pull request here: https://github.com/code4romania/expert-consultation-api/pull/140

[2020-05-23 16:12] cezarmathe commented on #127
https://github.com/cezarmathe/expert-consultation-api/tree/127-upload-pdf-document

[2020-05-23 16:14] cezarmathe commented on #127
@RaduCStefanescu could you review, please?
I'd like to be sure that what I wrote is actually correct.
I haven't written tests yet. The code compiles, but I get
[code]
I assume the errors are thrown because of the changes I made to `DocumentConsolidated`.

[2020-05-23 16:20] cezarmathe opened #141 "Documentation issue in FileController"
These 2 are the same:
https://github.com/code4romania/expert-consultation-api/blob/8b13f2104bb37b2f9f4f77753a02c5731e7de6ec/src/main/java/com/code4ro/legalconsultation/controller/FileController.java#L20
https://github.com/code4romania/expert-consultation-api/blob/8b13f2104bb37b2f9f4f77753a02c5731e7de6ec/src/main/java/com/code4ro/legalconsultation/controller/FileController.java#L27

[2020-05-23 18:39] #141 closed

[2020-05-24 08:43] cezarmathe opened #143 "CI failure: Deployment failed: Region not specified!"
The CI workflow fails because of the failure of [Beanstalk Deploy](https://github.com/code4romania/expert-consultation-api/runs/702473296):

[code]

[2020-05-24 08:44] cezarmathe commented on #143
This is probably the source: https://github.com/code4romania/expert-consultation-api/blob/ef7ff0fdd4e6e425f1cea0abf2ba6cd08331c055/.github/workflows/build.yml#L32

[2020-05-24 14:48] #15 closed

[2020-05-24 15:06] #120 closed

[2020-05-24 15:39] vgheo commented on #137
Hello. I could give a try at this issue.

[2020-05-24 16:15] vgheo commented on #137
In the current model, there is no reference from DocumentNode to Comment.
eg
[code]

Adding this would greatly simplify the implementation of this issue.
I suppose that other features may use this reference.

Alternatively  - the mapper would query the comments repo to compute list of related Comments for a given DocumentNode.

Please advise on solution.

[2020-05-24 16:22] csfercoci opened #147 "Duplicate documents should not be possible to submit"
documents that have title and content identical should not be allowed to be saved/created.
Otherwise will be two laws oug with different id's only.

[2020-05-25 07:20] csfercoci commented on #16
Se mai ocupa cineva de taskul asta?

[2020-05-25 07:20] csfercoci commented on #16
@MihaiTudorP  care este statusul?

[2020-05-25 07:53] georgebejan opened #148 "Audit document changes"
Each modification to the document nodes should be tracked in an audit table for better transparency.

[2020-05-25 07:54] csfercoci commented on #148
I take this one

[2020-05-25 08:50] RaduCStefanescu commented on #16
Hi @csfercoci
We are still working on defining the workflow for this issue. Will come back to this issue with more information today.

[2020-05-25 09:11] RaduCStefanescu commented on #137
This is the type of situation where I would decouple the DTO representation from the data model one. So, let's return a DTO that gets information from both the DocumentNode and the Comments data model. What do you think?

[2020-05-25 09:29] georgebejan commented on #137
We already have this in `DocumentNodeDto` - the number of comments is present there. In `DocumentServiceImpl:fetchConsolidatedByMetadataId` we have an example of how the number of comments is computed, but that works only for the root element of the tree. We need the same for every document node

[2020-05-25 09:36] RaduCStefanescu commented on #137
Ah, thanks for the info @georgebejan Does it make sense to have the method implemented for the whole document? Do we need to know at anytime the number of comments for the whole document?
I know I sound like captain Obvious, but let's implement the same logic for a single node as well.
Does this answer your question @vgheo ?

[2020-05-25 20:52] vgheo commented on #137
IMO the current implementation is non-cohesive - the full computation of the DTO should be encapsulated in the DocumentNodeDTO (and delegates).

I have submitted a proposal.

A possibly better alternative is, per my previous comment, to add the one-to-many reference DocumentNode#comments.

Would this change be acceptable ?

[2020-05-26 12:27] #127 closed

[2020-05-27 08:08] RaduCStefanescu opened #152 "Failed test on build"
There are tests failling, please see below:

[ERROR]   DocumentControllerIntegrationTest.saveDocument:80->assertThatDocumentNodeTreeIsGeneratedCorrectly:136->assertDocumentNodeContent:220
Expecting:
  <"Sample document introduction that can be on one line or on multiplelines">
to be equal to:
  <"multiple lines  Sample document introduction that can be on one line or on multiple lines  ">

[2020-05-27 08:13] #137 closed

[2020-05-27 09:22] cezarmathe commented on #152
I think I may have found the issue.

[code]

The file `test/resources/pdf/sample_legal_document.pdf` contains:

---

**Document title**

**on**

**multiple lines**

Sample document introduction that can be on one line or

on multiple

lines

---

[2020-05-27 12:28] #152 closed

[2020-05-27 16:39] RaduCStefanescu opened #156 "Switch database engine to PostgreSQL"
Switch database to use PostgreSQL.

[2020-05-27 16:46] RaduCStefanescu opened #157 "Update the EB deploy to use PostgreSQL"
Update the EB deploy scripts to use PostgreSQL.

[2020-05-28 09:18] RaduCStefanescu commented on #156
Issue handled in #158

[2020-05-28 09:18] #156 closed

[2020-05-31 13:20] mihairinzis commented on #143
yes, the secrets were not updated. should be fine now

[2020-05-31 13:20] #143 closed

[2020-05-31 13:20] #157 closed

[2020-06-02 08:38] cosmingodeanu commented on #147
I'll take this task.

[2020-06-03 14:26] #4 closed

[2020-06-03 14:30] #11 closed

[2020-06-03 14:32] #104 closed

[2020-06-03 14:34] #125 closed

[2020-06-03 16:57] lzrmihnea commented on #66
@RaduCStefanescu  can this be set to `closed` ?
The last bulletpoint `an admin can open and close the voting period for a document` has not been addressed.

[2020-06-03 17:57] #66 closed

[2020-06-04 11:18] RaduCStefanescu opened #166 "Create user roles and import users"
The application will have users with 3 roles:
- admin users
- owner users
- regular users
Admin users are considered the super admins of the platform, and they can create owner accounts through CSV import. When owner users are added to the platform, they go through the register process vie email link.
Owner users are the ones that can upload documents to the platform, they can assign other regular

[2020-06-04 12:44] lzrmihnea commented on #138
@aggo @RaduCStefanescu How many characters? Maximum possible?

[2020-06-04 13:55] lzrmihnea commented on #138
Nevermind, found it.
I'm working on this and will create a PR shortly.

[2020-06-04 15:24] cosmingodeanu commented on #147
Created a p.r. here https://github.com/code4romania/expert-consultation-api/pull/168

[2020-06-04 18:49] georgebejan opened #169 "Document versioning design discussion"
The purpose of this issue is to have a discussion about the document versioning system.

### Context and Problem Statement

Each time a document is uploaded to the platform we store it as a `DocumentConsolidated`. This entity has two main parts: `DocumentMetadata` and `DocumentNode`.
`DocumentMetadata` holds information about about the document (title, initiator, etc).
`DocumentNode` is the result

[2020-06-10 07:57] damianr13 opened #174 "Document nodes with comments attached can't be deleted"
Foreign key check for comments fails when trying to delete a node that has comments attached. The delete action should cascade to comments.

[2020-06-10 07:57] damianr13 commented on #174
I will take this issue

[2020-06-12 14:33] RaduCStefanescu opened #176 "Update user model"
The user model needs to be updated so that we add the specialisation of the user. This is a new field that will be searchable. The field will be set in the process of import users and add user.

[2020-06-20 16:18] sfynxu commented on #169
Hi! There are several standards to document lifecycle! One solution is to use database for defining some states, and transitions between the states. In this way you may select and update the workflows and create some statistics.

[2020-06-22 06:53] lzrmihnea commented on #169
For one, a Comment should be linked to a DocumentNode and the Version of the Document, for historical reasons. Would this make sense?

To easily see the difference between states, there were some framework which could solve this issue out of the box, but I have to research that.

[2020-06-23 16:13] sfynxu commented on #169
I'd rather link comment to transition. Thos is in order to document the change and  I would optate to mandatory!

[2020-06-27 15:49] aniri commented on #138
closing as it was implemented in #167

[2020-06-27 15:49] #138 closed

[2020-07-15 14:34] RaduCStefanescu opened #180 "Add specialization field to user"
When creating a new user, a specialization field should be added to the user info.

[2020-07-25 18:29] RaduCStefanescu commented on #122
Fixed by #133

[2020-07-25 18:29] #122 closed

[2020-07-26 18:24] aniri commented on #180
@RaduCStefanescu how will these specializations be stored? will they be in a predefined list and shown as a dropdown to the user? or are they any text input?

[2020-07-27 07:56] RaduCStefanescu commented on #180
@aniri the specializations will be stored as an enumeration and the frontend will display them as a dropdown.
I will come back with a list of specializations we can use.

[2020-07-27 08:03] georgebejan commented on #180
@RaduCStefanescu  Maybe we can do it like tags: allow any text and show matches as the user types and create new specialization if not found

[2020-07-28 08:22] RaduCStefanescu commented on #180
@georgebejan sounds good, because we will have a lot of specialization as the platform grows.

[2020-07-28 14:11] aniri commented on #180
@RaduCStefanescu @georgebejan maybe we could add a separate task for handling the list of specializations? either as an enum or text matching :D

[2020-08-03 08:07] RaduCStefanescu commented on #180
Hmm, why not keep it in the same task? They are linked anyway.

[2020-08-03 08:09] RaduCStefanescu opened #183 "Extend Document Type enumeration"
Currently, we have in the document type enumeration the following values - LEGE, HG, ORDONANTA.
We should extend this enumeration by adding the values - REGULAMENT, REGULAMENT-CADRU, HOTARARE, HOTARARE CONSILIU NATIONAL.

[2020-08-03 08:16] RaduCStefanescu opened #184 "Add comment replies to number of comments"
Currently, when we display the number of comments in the frontend, we only account for the comments and not the comment replies. We should also consider the comment replies when returning the number of comments from the backend.

[2020-08-16 20:35] Daniel194 commented on #183
Work in progress - @Daniel194

[2020-08-17 07:55] RaduCStefanescu commented on #183
All yours @Daniel194

[2020-08-19 21:18] Daniel194 commented on #184
Work in progress

[2020-08-20 08:48] RaduCStefanescu commented on #184
All yours @Daniel194

[2020-08-21 07:52] RaduCStefanescu commented on #183
Fixed in #186

[2020-08-21 07:52] #183 closed

[2020-08-21 08:24] RaduCStefanescu opened #187 "Add document agreement feature"
As a user of the platform, I want to be able to agree with the contents of the entire document.

We need to create a new entity `DocumentAgreement` that will link a document and a user that has declared it is in total agreement with the document contents.

The information will be public, so we need to be able, for each document to display what users have completely agreed to the document.

[2020-10-21 12:00] RaduCStefanescu opened #192 "Switch email sending to SendGrid"
We should switch email sending using SendGrid.
This should be handled in the configuration.

[2020-10-21 12:03] RaduCStefanescu opened #193 "Enable comments on document only if they are in consultation"
Comments should be added for a document only when they are in the consultation period.
Users should not be able to comment on a document if it is not in the consultation period.
Comments should be read only during the consultation period.

[2020-10-23 10:18] RaduCStefanescu opened #194 "Incorrect link sent in new document email"
When sending a new document assigned email, the link is incorrect.

What we send: https://staging.legiinlucru.ro/api/documents//054e26ca-dac1-4ba9-a13e-09e4b77d7733
The correct link: https://staging.legiinlucru.ro/documents//054e26ca-dac1-4ba9-a13e-09e4b77d7733

Hint: it contains an extra `/api`

[2020-10-25 10:58] vidi42 commented on #194
Am deschis un PR pentru issue-ul acesta

[2020-10-25 11:05] #194 closed

[2020-10-25 11:06] RaduCStefanescu commented on #194
Nice @vidi42
Am facut merge la modificari.

[2020-10-31 18:08] lucianbc commented on #180
I guess this one is closed by [this PR](https://github.com/code4romania/expert-consultation-api/pull/189)

[2020-10-31 18:22] #180 closed

[2020-10-31 18:52] #176 closed

[2020-10-31 21:29] VladCuciureanu commented on #192
Can I take this one? Also maybe you could go a bit more into detail about what you mean by 'handled in the configuration'?

[2020-11-01 16:18] MihaiTudorP commented on #187
In progress @MihaiTudorP
Long time, no contribution, I'm on it.

[2020-11-05 09:20] RaduCStefanescu opened #201 "Modify the pending comments endpoint"
Modify the `api/comments/pending` endpoint to return information about the title of the parent document and the node where the comment is originating - for the node, we either publish the title of the node or the content of the node.

[2020-11-09 12:42] RaduCStefanescu commented on #184
Fixed in #188

[2020-11-09 12:42] #184 closed

[2020-11-09 12:43] RaduCStefanescu commented on #187
Ok, all yours @MihaiTudorP

[2020-11-12 14:53] aggo commented on #201
taking this

[2020-11-13 10:46] #201 closed

[2020-12-11 12:02] nicolaes opened #204 "Create default user for local development"
As a developer
I'd like to have a default user (user: admin / pass: admin) in the database **if it's empty** and **is running locally**
So I can onboard the local setup faster

[2020-12-11 15:10] iFlex commented on #192
I'd like to pick this one up

[2020-12-14 10:03] #204 closed

[2020-12-14 18:06] RaduCStefanescu commented on #192
@iFlex all yours

[2020-12-15 09:33] #94 closed

[2020-12-15 09:34] #119 closed

[2020-12-15 09:34] #121 closed

[2020-12-15 09:35] #169 closed

[2020-12-15 18:09] #84 closed

[2020-12-16 08:18] georgebejan opened #209 "Get all documents which are in consultation"
Create a new API endpoint to fetch all the documents which are currently in consultation.
Information about the consultation period can be found in `DocumentConfiguration` which is assigned to each `DocumentConsolidated`.

[2020-12-16 11:54] iFlex commented on #209
Would like to jump on this one

[2020-12-16 14:15] georgebejan commented on #209
@iFlex sure, I'll assign the issue to you

[2020-12-18 12:37] nicolaes opened #210 "Improve API of pending comments for frontend"
- Remove length limitation on document node content
- Add parent document id and document node id, so frontend can include a link to the whole document

[2020-12-18 12:51] nicolaes opened #211 "Improve README.md for project setup and local testing"
Backend project setup should include a clear setup for new developers
- dependency installation
- database setup
- (optional) basic setup of frontend
- local test data

[2020-12-18 13:56] nicolaes commented on #123
Starting work on thi

[2020-12-23 11:51] #123 closed

[2020-12-23 16:15] #147 closed

[2020-12-27 11:14] nicolaes opened #214 "Include replies in comments API"
This is a prerequisite for code4romania/expert-consultation-client#126

[2020-12-27 11:15] nicolaes commented on #214
I will take this. CC @NichitaD

[2020-12-29 12:11] #214 closed

[2021-01-21 11:29] dragosnutu commented on #210
I can jump on that but need more details. @nicolaes can we have a chat ?